<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: cadetblue;">
    <form style="margin: 20px 800px;" action="/inuser" enctype="multipart/form-data" method="post">
        <label class="form-label" for="customFile">Pdf yükleyici</label>
        <p></p>
        <input type="file" name="filepdf"  class="form-control" id="customFile" />
        <p></p>
        <button style="background-color: green;" type="submit">Gönder</button>
        <div style="margin: 20px 20px;">
            <a style="background-color: brown; color: white;" href="/usersorgu">Sorgu için tıklayın</a>
        </div>
        
    </form>
    
        <img src="resim1.jpg">
    <div style="margin: 20px 0px;">
        <label for="">Kocaeli Üniversitesi, 17 Ağustos 1999 Depremi’nden önce öğretim hizmetini, 15 değişik yörede
            bulunan ve toplam alanı 650.000 m2 olan kampüslerinde, 9 Fakülte, 3 Enstitü, 12 Meslek Yüksekokulu’nda
            öğrenim yapan 20.000 öğrenci ve 1.150 öğretim elemanı ile sürdürmekteydi. Yüzyılın felaketlerinden biri
            olarak nitelenen 17 Ağustos depreminde üniversitenin maddi varlığının yaklaşık %75’i yitirildi. Söz konusu
            büyük kayba karşın, 1999-2000 eğitim-öğretim yılını yalnızca bir aylık gecikmeyle başlatan Kocaeli
            Üniversitesi, eğitim-öğretim etkinliğini bir süre çadır, prefabrik yapı ve hızla onarılan binalarda
            sürdürmüştür.

            Bu çalışmaların yanı sıra, Kocaeli Üniversitesi’ne yeni bir kampüs arayışı hızla sonuçlandırılmış, 2000
            yılının Ekim ayında, İzmit’e 10 km uzaklıkta bulunan Eski İstanbul yolu üzerindeki Üçtepeler mevkiinde 6500
            dönümlük alana "Umuttepe" adı verilerek yeni kampüsün temeli atılmıştır. İnşaat aşamasında ülke genelinde
            yaşanan ekonomik krize karşın, 2004 yılının Eylül ayında Rektörlük, izleyen aylarda da Fen-Edebiyat,
            İktisadi ve İdari Bilimler, İletişim, Teknik Eğitim ve Tıp Fakülteleri ve Sağlık Bilimleri Enstitüsü ile
            Araştırma ve Uygulama Hastanesi yeni kampüste hizmet vermeye başlamıştır. Umuttepe Kampüsü'nün yapımının
            tamamlanmasıyla birlikte Türkiye’de bir üniversite kampüsünün tamamı ilk defa projelendirilmiş, ilk 4 yılda
            açılışı yapılmış ve 8 yıl içinde bitirilmiştir.</label>
    </div>
</body>

</html>