<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"/>
    <title>anasayfa</title>
</head>

<body style="background-color: beige;">
    <form action="/loginadmin" method="post">
    <div style="margin: 100px 300px;" class="container">
        <div class="row">
            <h1><i class="fa fa-lock" aria-hidden="true"></i> Login</h1>

        </div><br /><br />


        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
            </div>
            <input type="text" name="Kullanıcı" class="form-control" placeholder="Kullanıcı adı" />
        </div><br />

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-key icon"></i></span>
            </div>
            <input type="Password" name="Password" class="form-control" placeholder="Şifre" />
        </div><br />
    
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-off"></span> Giriş Yap</button>
        
        <br />

    </div>
</form>
    
</body>

</html>